.icon-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;              /* Adjust this size to control the circle's dimensions */
    height: 5rem;             /* Same as width for a perfect circle */
    border-radius: 50%;       /* Makes the div circular */
    background-color: #0194FE; /* Circle background color */
  }
.feature-i>img{
    width: 470px;
    height: 555px;
}
@media (max-width: 950px) {
  .feature-i>img {
    display: none;
  }
  .content {
    width: 100%;
    padding: 20px;
  }
  .feature-content{
    width: 
    100%;
  }
  .icon-circle{
        width: 3rem;
    height: 3rem;
  }
  .icon{
    width: 2rem;
    height: 2rem;
  }
  .content h1 {
    font-size: 1.5rem;
  }
  .feature h2{
    font-size: 1.2rem;
  }
  .feature-content p{
    font-size: 0.8rem;
  }

}
@media (max-width: 550px) {
.feature-d{
  gap: 6px;
}
}