.header-right-inner a {

    text-decoration: none;
    color: #0194FE;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
/* StickyComponent.css */
.sticky-element {
    position: relative;
    transition: all 0.3s ease; /* Smooth transition */
    z-index: 10000000000;
  }
  
  .is-sticky {
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background: radial-gradient(circle at 20% 50%, #6EC1E4, transparent 50%), /* Left circle */ radial-gradient(circle at 80% 50%, #FFD56E, transparent 50%);
    background: white;
    padding: 0;
    background: #ffffffd4;
    backdrop-filter: blur(7px);
  }
  .pad-none{
    padding: 10px 20px;
  }
.logo {
    font-size: 2.2rem;
}

/* Basic styling for the nav-list and links */
.nav-list {
    display: flex;
    list-style: none;
    gap: 20px;
    /* Space between items */
    padding: 0;
    margin: 0;
}


.nav-list li a {
    color: #000;
    /* Normal color */
    font-weight: 500;
    padding: 5px 10px;
    transition: color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
    text-decoration: none;
    position: relative;
    cursor: pointer;
}

/* Option 1: Color Change Effect */
.nav-list li a:hover {
    color: #0194FE;
    /* Changes to a blue shade on hover */
}

/* Option 2: Underline Slide Effect */
.nav-list li a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #0194FE;
    transition: width 0.3s ease;
    position: absolute;
    bottom: -2px;
    /* Adjust as needed */
    left: 0;
}

.nav-list li a:hover::after {
    width: 100%;
    /* Line expands on hover */
}

/* Option 3: Shadow and Scale Effect */
.nav-list li a:hover {
    box-shadow: 0 2px 5px rgba(1, 148, 254, 0.3);
    /* Subtle shadow */
    transform: scale(1.05);
    /* Slightly increases size */
}